.back {
	background-color: #454545;
	color: #ffffff;
	font-size: 11px;
	font-weight: 100;
	position: absolute;
	left: 0px;
	line-height: 11px;
	height: 10px;
	width: 30px;
	padding: 20px;
	top: 300px;
	text-transform: uppercase;
	z-index: 10;
	}

.next {
	background-color: #454545;
	color: #ffffff;
	font-size: 11px;
	font-weight: 100;
	position: absolute;
	right: 0px;
	line-height: 11px;
	height: 10px;
	width: 30px;
	padding: 20px;
	top: 300px;
	text-transform: uppercase;
	z-index: 10;
	}